.todo-container {
  margin: 0.5rem 0;
  z-index: 999;
}

.todo-list-header {
  text-align: center;
  color: #fcfcfc;
  letter-spacing: 2px;
}

.todo-wrapper {
  background-color: #fcfcfc;
  width: 40%;
  margin: auto;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.todo-text-container {
  flex-grow: 1;
}

.todo-text-header {
  color: #cb218e;
  font-weight: 500;
}

.todo-text-header-done {
  color: #cb218e;
  font-weight: 500;
  text-decoration: line-through 2px #cb218e;
}

.todo-delete-container {
  border: none;
  background-color: #fcfcfc;
  cursor: pointer;
  border-radius: 0.5rem;
}

.todo-delete-icon {
  color: #ec0505;
  font-size: 1.2rem;
  padding: 0.8rem 0.65rem;
  border-radius: 0.5rem;
}

.todo-delete-icon:hover {
  background-color: #ec0505;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
}

.todo-done-container {
  background: #fcfcfc;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.todo-done-icon {
  background: #fcfcfc;
  color: #119723;
  font-size: 1.2rem;
  padding: 0.8rem 0.4rem;
  border-radius: 0.3rem;
}

.todo-done-icon-done {
  background-color: #119723;
  color: #fcfcfc;
  border-radius: 0.5rem;
  padding: 0.8rem 0.6rem;
  border: none;
  cursor: pointer;
}

/*  Mdedia query Phone */
@media screen and (max-width: 600px) {
  .todo-wrapper {
    width: 70%;
  }
}
/*  Mdedia query Phone */
