.todo-container {
  margin: 1rem 0;
  z-index: 999;
}

.todo-wrapper {
  background-color: #fcfcfc;
  width: 40%;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.todo-text-container {
  flex-grow: 1;
}

.todo-delete-container {
  border: none;
  background-color: #fcfcfc;
  cursor: pointer;
  border-radius: 0.5rem;
}

.todo-delete-icon {
  color: #ec0505;
  font-size: 1.2rem;
  padding: 0.8rem 0.65rem;
  border-radius: 0.5rem;
}

.todo-delete-icon:hover {
  background-color: #ec0505;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
}

.todo-done-container {
  background: #fcfcfc;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.todo-done-icon {
  background: #fcfcfc;
  color: #119723;
  font-size: 1.2rem;
  padding: 0.8rem 0.4rem;
  border-radius: 0.3rem;
}

.todo-done-icon-done {
  background-color: #119723;
  color: #fcfcfc;
  border-radius: 0.5rem;
  padding: 0.8rem 0.6rem;
  border: none;
  cursor: pointer;
}
